body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(90, 90, 90);
  background-color: rgb(246, 246, 246);
  margin: 0;
}

h1, h2 {
  font-size: 20px;
  letter-spacing: 1px;
}

h1 {
  color: rgb(216, 74, 83);
  font-size: 30px;
}

h2 {
  font-weight: lighter;
}

h4 {
  color: rgb(90, 90, 90);
}

table p {
  font-size: 16px;
  font-weight: 300;
}
/*
div {
  border:3px solid black;
}*/

#info, #net, #likes, #footer, #form {
  background-color: white;
  width: 60%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(90, 90, 90, 0.4)
}

.avatar-container {
  width: 80%;
  margin: auto;
}

.name-description-container {
  width: 100%;
  margin: auto;
}

.button-container {
  width: 100%;
  margin: auto;
}
.avatar-pic {
  border-radius: 50%;
  height: 30%;
  width: 30%;
  padding: 5px;
}

.text-center {
  text-align: center;
}

.button {
  display: inline-block;
  background-color: rgb(216, 74, 83);
  width: 15%;
  padding: 8px 8px;
  margin: 10px;
  border-radius: 2px;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-weight: medium;
  font-size: 20px;
  box-shadow: 1px 1px 1px rgba(90, 90, 90, 0.4);
}

.button:hover {
  background-color: rgb(238, 109, 98);
}

.list a {
  color: rgb(201, 202, 205);
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.list li {
  display: inline-block;
  padding: 20px;
  margin: 20px;
}

.list a:hover {
  color: rgb(216, 74, 83);
}

.interest-picture {
 padding: 5px;
 border-radius: 7px;
 width: 200px;
 margin: 5px;
}

.interest-text {
  padding: 10px;
  margin: 10px;
  text-align: justify;
  font-size: 18px;
  font-weight: lighter;
}

#sidebar {
  float: left;
  background-color: rgb(216, 74, 83);
  width: 10%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
}

#content {
  float: right;
  width: 90%;
}

.side-icon {
  text-align: center;
  margin: 50px;
}

.side-icon a {
  color: rgb(246, 246, 246, 0.6);
}

.side-icon a:hover {
  color: rgb(90, 90, 90);
}
.sidebar-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer-link {
  color: rgb(201, 202, 205);
  text-decoration: none;
}

.footer-link:hover {
  color: rgb(216, 74, 83);
}

.footer-text {
  margin: 10px 50px;
  padding: 10px;
  font-size: 12px;
}

/*.first-name {
  width: 50%;*/
  /*height: 50%;
  float: left;
  background-color: rgb(201, 202, 205);*/
/*  box-shadow: 1px 1px 1px rgba(90, 90, 90, 0.4);
*/}

/*.last-name {
  width: 50%;
  height: 50%;
  float: right;
  background-color: rgb(201, 202, 205);
  display: block;
}
*/
/*.email {
  margin: 10px;
}*/
@media (max-width: 1360px) {
  /* For a screen < 960px, this CSS will be read */
  .button {
    font-size: 16px;
  }
}

@media (max-width: 1110px) {
  /* For a screen < 960px, this CSS will be read */
  .button {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  /* For a screen < 960px, this CSS will be read */
  .button {
    font-size: 12px;
  }
}


@media (max-width: 745px) {
  /* For a screen < 960px, this CSS will be read */
  .butto {
    font-size: 10px;
  }
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  h1, h2 {
    font-size: 16px;
  }
}

@media (max-width: 530px) {
  /* For a screen < 960px, this CSS will be read */
  h1, h2 {
    font-size: 12px;
    letter-spacing: 0px;
  }
}


@media (max-width: 1000px) {
  /* For a screen < 960px, this CSS will be read */
  .interest-picture {
  height: 250px;
  width: auto;
  }
  .interest-text {
  text-align: justify;
  font-size: 16px;
  }
}

@media (max-width: 715px) {
  /* For a screen < 960px, this CSS will be read */
  .interest-picture {
  height: 200px;
  width: auto;
  }
  .interest-text {
  text-align: justify;
  font-size: 14px;
  }
  .list li {
  display: inline-block;
  padding: 20px;
  margin: 0px;
}
}

@media (max-width: 670px) {
  /* For a screen < 960px, this CSS will be read */
  .interest-picture {
  height: 150px;
  width: auto;
  }
  .interest-text {
  text-align: justify;
  font-size: 12px;
  }
}

@media (max-width: 1000px) {
  /* For a screen < 960px, this CSS will be read */
  #content {
    width: 100%;
  }

  #sidebar {
    width: 0;
  }
}



